.profilePageContainer {
    color: $black;
    display: flex;
    flex-direction: column;
    width: 32.5%;
    position: absolute;
    left: 35%;
    align-items: center;
    @media (max-width:1024px) {
        width: 100%;
        left: 0;
    }
    .listOfPosts {
        display: flex;
        flex-direction: column;
        .post {
            .body {
                text-overflow:ellipsis;
            overflow:hidden;
            display: -webkit-box !important;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            white-space: normal;
            margin-right: 2.5rem;
            word-wrap: break-word;
            }
            margin-bottom: 1.25rem;
        }
    }
}

.profileSettingsPageContainer {
    color: $black;
    display: flex;
    flex-direction: column;
    width: 32.5%;
    position: absolute;
    top: 30%;
    transform: translateY(-50%);
    left: 35%;
    align-items: center;
    h3 {
        font-size: 3rem;
        margin-bottom: 5rem;
        text-align: center;
    }
    @media (max-width: 768px) {
        width: 100%;
        left: 0;
    }
    .settings {
        .changePassword {
            display: flex;
            flex-direction: column;
            align-items: center;
            .passwordHeader {
                font-size: 2rem;
                font-weight: 800;
                margin-bottom: 2.5rem;
                @media (max-width: 768px) {
                    font-size: 1.6rem;
                }
            }
            input {
                padding: 1rem;
                border-radius: 1rem;
                margin-bottom: 2.5rem;
                width: 30rem;
                font-size: 2rem;
                font-family: "Lato", sans-serif;
                @media (max-width: 768px) {
                    font-size: 1.6rem;
                    padding: 0.5rem;
                    width: 20rem;
                }
            }
            .changePasswordButton {
                margin-bottom: 2.5rem;
                margin-top: 1.5rem;
                color: #7aa8ce;
                background-color: lighten($white, 10%);
                font-size: 1.6rem;
                padding: 1rem;
                border-radius: 300px;
                border: none;
                box-shadow: #65778652 0px 0px 8px;
                &:hover {
                    cursor: pointer;
                }
            }
            .deleteAccount {
                background-color: lighten($white, 10%);
                color: rgb(226, 53, 53);
                font-size: 2rem;
                padding: 3rem;
                border-radius: 300px;
                border: none;
                box-shadow: #65778652 0px 0px 8px;
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}